<header>
  <nav id="navbar">
    <ul>
      <li><%= link_to :anchor => 'banner1'  do %>
        <%= image_tag("HR_Logo_RZ_schwarz.svg", :alt => "Logo") %>
        <% end %> 
      </li>
      <li><%= link_to('Haus', :anchor => 'info') %></li>
      <li><%= link_to('Fotos', :anchor => 'photos') %></li>
      <li><%= link_to('Hiddensee', :anchor => 'hiddensee') %></li>
      <li><%= link_to('Buchen', :anchor => 'buchen') %></li>
    </ul>
  </nav>   
</header> 
