
  <div class="gallery-image">
    <%= image_tag "Aussen1.jpg", class: "cursor gallery-img", data: {id: "1"}  %>
  </div>
  <div class="gallery-image">
    <%= image_tag "Aussen2.jpg", class: "cursor gallery-img", data: {id: "2"} %>
  </div>
  <div class="gallery-image">
    <%= image_tag "Wohnzimmer1.jpg", class: "cursor gallery-img", data: {id: "3"} %>
  </div>
  <div class="gallery-image">
    <%= image_tag "Wohnzimmer2.jpg", class: "cursor gallery-img", data: {id: "4"} %>
  </div>
  <div class="gallery-image">
    <%= image_tag "Wohnzimmer3.jpg", class: "cursor gallery-img", data: {id: "5"} %>
  </div>
  <div class="gallery-image">
    <%= image_tag "K端che1.jpg", class: "cursor gallery-img", data: {id: "6"} %>
  </div>
  <div class="gallery-image">
    <%= image_tag "K端che2.jpg", class: "cursor gallery-img", data: {id: "7"} %>
  </div>
  <div class="gallery-image">
    <%= image_tag "Schlafzimmer1.jpg", class: "cursor gallery-img", data: {id: "8"} %>
  </div>
  <div class="gallery-image">
    <%= image_tag "Schlafzimmer2.jpg", class: "cursor gallery-img", data: {id: "9"} %>
  </div>
  <div class="gallery-image">
    <%= image_tag "Kinderzimmer1.jpg", class: "cursor gallery-img", data: {id: "10"} %>
  </div>
  <div class="gallery-image">
    <%= image_tag "Kinderzimmer2.jpg", class: "cursor gallery-img", data: {id: "11"} %>
  </div>
  <div class="gallery-image">
    <%= image_tag "Wannenbad.jpg", class: "cursor gallery-img", data: {id: "12"} %>
  </div>
  <div class="gallery-image">
    <%= image_tag "Gallerie1.jpg", class: "cursor gallery-img", data: {id: "13"} %>
  </div>
  <div class="gallery-image">
    <%= image_tag "Gallerie2.jpg", class: "cursor gallery-img", data: {id: "14"} %>
  </div>
  <div class="gallery-image" id="hidden-tablet">
    <%= image_tag "Gallerie3.jpg", class: "cursor gallery-img", data: {id: "15"} %>
  </div>
  <div class="gallery-image">
    <%= image_tag "Gallerie4.jpg", class: "cursor gallery-img", data: {id: "16"} %>
  </div>
<div id="modal" class="modal">
  <span class="close cursor", id="close-modal">&times;</span>
  <div class="modal-content">
    <div class="modal-image">
      <%= image_tag "Aussen1.jpg" %>
    </div>
    <div class="modal-image">
      <%= image_tag "Aussen2.jpg" %>
    </div>
    <div class="modal-image">
      <%= image_tag "Wohnzimmer1.jpg" %>
    </div>    
    <div class="modal-image">
      <%= image_tag "Wohnzimmer2.jpg" %>
    </div>
    <div class="modal-image">
      <%= image_tag "Wohnzimmer3.jpg" %>
    </div>
    <div class="modal-image">
      <%= image_tag "K端che1.jpg" %>
    </div>
    <div class="modal-image">
      <%= image_tag "K端che2.jpg" %>
    </div>
    <div class="modal-image">
      <%= image_tag "Schlafzimmer1.jpg" %>
    </div>
    <div class="modal-image">
      <%= image_tag "Schlafzimmer2.jpg" %>
    </div>
    <div class="modal-image">
      <%= image_tag "Kinderzimmer1.jpg" %>
    </div>
    <div class="modal-image">
      <%= image_tag "Kinderzimmer2.jpg" %>
    </div>
    <div class="modal-image">
      <%= image_tag "Wannenbad.jpg" %>
    </div>
    <div class="modal-image">
      <%= image_tag "Gallerie1.jpg" %>
    </div>
    <div class="modal-image">
      <%= image_tag "Gallerie2.jpg" %>
    </div>
    <div class="modal-image">
      <%= image_tag "Gallerie3.jpg" %>
    </div>
    <div class="modal-image">
      <%= image_tag "Gallerie4.jpg" %>
    </div>
    <div>
        <a class="prev", id="prev-img">&#10094;</a>
        <a class="next", id="next-img">&#10095;</a>
    </div>
  </div>
</div>