<div class="slideshow">           
  <div class="slides">
    <%= image_tag "Aussen1.jpg", alt: "Süd und Westterrasse mit Gartenmöbel" %>
  <div class="slides">
    <%= image_tag "Aussen2.jpg", alt: "Westterrasse" %>
  </div>
  <div class="slides">
    <%= image_tag "Wohnzimmer1.jpg", alt: "Wohnzimmer mit Essbereich" %>
  </div>
  <div class="slides">
    <%= image_tag "Wohnzimmer2.jpg", alt: "Wohnzimmer" %>
  </div>
  <div class="slides">
    <%= image_tag "Wohnzimmer3.jpg", alt: "Wohnzimmer" %>
  </div>
  <div class="slides">
    <%= image_tag "Küche1.jpg", alt: "Küche" %>
  </div>
  <div class="slides">
    <%= image_tag "Küche2.jpg", alt: "Küche" %>
  </div>
  <div class="slides">             
    <%= image_tag "Schlafzimmer1.jpg", alt: "Grosses Schlafzimmer" %>
  </div>
  <div class="slides">
    <%= image_tag "Schlafzimmer2.jpg", alt: "Grosses Schlafzimmer" %>
  </div>
  <div class="slides">
    <%= image_tag "Kinderzimmer1.jpg", alt: "Kleines Schlafzimmer" %>
  </div>
  <div class="slides">
    <%= image_tag "Kinderzimmer2.jpg", alt: "Kleines Schlafzimmer" %>
  </div>
  <div class="slides">
    <%= image_tag "Wannenbad.jpg", alt: "Badezimmer mit Wanne" %>
  </div>
  <div class="slides">
    <%= image_tag "Gallerie1.jpg", alt: "Galerie mit Meerblick" %>
  </div>
  <div class="slides">
    <%= image_tag "Gallerie2.jpg", alt: "Galerie als Schlafplatz" %>
  </div>
  <div class="slides">
    <%= image_tag "Gallerie3.jpg", alt: "Galerie" %>
  </div>
  <div class="slides">
    <%= image_tag "Gallerie4.jpg", alt: "Galerie als Leseecke" %>
  </div>
  <a class="prev cursor" onclick="plusSlides(-1)">❮</a>
  <a class="next cursor" onclick="plusSlides(1)">❯</a>

  <div class="caption-container">
      <p id="caption"></p>
  </div>
</div>