
<div class="slides">
  <%= image_tag "Aussen1.jpg", alt: "Süd und Westterrasse mit Gartenmöbel", class: "text"%>
</div>
<div class="slides">
  <%= image_tag "Aussen2.jpg", alt: "Westterrasse", class: "text" %>
</div>
<div class="slides">
  <%= image_tag "Wohnzimmer1.jpg", alt: "Wohnzimmer mit Essbereich", class: "text" %>
</div>
<div class="slides">
  <%= image_tag "Wohnzimmer2.jpg", alt: "Wohnzimmer", class: "text" %>
</div>
<div class="slides">
  <%= image_tag "Wohnzimmer3.jpg", alt: "Wohnzimmer", class: "text" %>
</div>
<div class="slides">
  <%= image_tag "Küche1.jpg", alt: "Küche", class: "text" %>
</div>
<div class="slides">
  <%= image_tag "Küche2.jpg", alt: "Küche", class: "text" %>
</div>
<div class="slides">             
  <%= image_tag "Schlafzimmer1.jpg", alt: "Grosses Schlafzimmer", class: "text" %>
</div>
<div class="slides">
  <%= image_tag "Schlafzimmer2.jpg", alt: "Grosses Schlafzimmer", class: "text" %>
</div>
<div class="slides">
  <%= image_tag "Kinderzimmer1.jpg", alt: "Kleines Schlafzimmer", class: "text" %>
</div>
<div class="slides">
  <%= image_tag "Kinderzimmer2.jpg", alt: "Kleines Schlafzimmer", class: "text" %>
</div>
<div class="slides">
  <%= image_tag "Wannenbad.jpg", alt: "Badezimmer mit Wanne", class: "text" %>
</div>
<div class="slides">
  <%= image_tag "Gallerie1.jpg", alt: "Galerie mit Meerblick", class: "text" %>
</div>
<div class="slides">
  <%= image_tag "Gallerie2.jpg", alt: "Galerie als Schlafplatz", class: "text" %>
</div>
<div class="slides">
  <%= image_tag "Gallerie3.jpg", alt: "Galerie", class: "text" %>
</div>
<div class="slides">
  <%= image_tag "Gallerie4.jpg", alt: "Galerie als Leseecke", class: "text" %>
</div>
<a class="prev cursor" onclick="plusSlides(-1)">❮</a>
<a class="next cursor" onclick="plusSlides(1)">❯</a>

<div class="caption-container">
    <p id="caption"></p>
</div>


<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides(slideIndex += n);
  };

  function currentSlide(n) {
    showSlides(slideIndex = n);
  };

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("slides");
    var text = document.getElementsByClassName("text");
    var captionText = document.getElementById("caption");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
        text[i].className = text[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    text[slideIndex-1].className += " active";
    captionText.innerHTML = text[slideIndex-1].alt;
  }
</script>